/* global */

body,
html {
    position: relative;
    min-height: 100vh;
}

h2 {
    font-size: 300%;
    text-align: right;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(14, 8, 55);
    color: white;
    padding: 20px 10px;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    margin-left: 25px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul li a {
    color: whitesmoke;
    margin: 10px;
    text-decoration: none;
}

header a:hover {
    color: gold;
    margin: 10px;
}

/* content */

.tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/68099066760__0D9DABA2-E6E2-4F91-A615-1DE8DF1D740F.jpeg);
    background-size: cover;
    background-position: 10% 40%;
    min-height: 200px;
}

.tagline h3 {
    max-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 35px 10px 10px;
    background-color: rgb(14, 8, 55);
    color: #f9aa00;
    font-size: 120%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.aboutMe {
    width: 25%;
    color: #A1710A;
    margin-top: 25px;
    padding: 0px 25px;
}

.profileImg {
    border-radius: 50%;
    max-height: 150px;
    box-shadow: 10px 10px 10px;
    margin-left: 100px;
}


.aboutMeText {
    width: 75%;
    margin-top: 25px;
    padding: 0px 35px 20px 0;
}


.myWork {
    width: 25%;
    color: #A1710A;
    padding: 0px 25px;
    text-align: center;
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
    width: 75%;

}

.workItem {
    margin-bottom: 35px;
    border: 5px solid #5a95fe;
    position: relative;
    max-height: 335px;
}

.overlay {
    background-color: white;
    opacity: 20%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay:hover {
    opacity: 0%;
}

.titleRibbon {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    padding-left: 15px;
    background-color: #5a95fe;
    width: 200px;
    height: 50px;
}

.workItem a {
    color: whitesmoke;
    text-decoration: none;
}

.contactHeader {
    width: 25%;
    color: #A1710A;
    margin: 25px 0;
    padding: 0px 25px;
}

.contactDetails {
    display: flex;
    align-items: center;
    width: 75%;
    padding: 15px;
    min-height: 75px;
}

.contactDetails ul li {
    margin: 20px;
    display: inline;
}

/* footer */
footer {
    text-align: center;
    min-width: 100%;
    padding: 20px 10px;
    background-color: lightgray;
}

@media only screen and (max-width: 430px) {

    header h1 {
        margin-left: 10px;
    }

    header ul {
        margin-top: 10px;
    }


    .profileImg {
        height: 100px;
        margin-left: 10px;
    }

    .aboutMe {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    h2 {
        margin: 10px 20px;
        text-align: left;
        font-size: 150%;
    }

    .aboutMeText {
        min-width: 100%;
        margin: 0;
    }

    .aboutMeText p {
        padding: 0 20px;
    }

    .myWork {
        min-width: 100%;
        padding: 0;
    }

    .overlay {
        display: none;
    }

    .workContainer {
        width: 100%;
    }

    .workItem {
        margin-left: 20px;
    }

    .workItem img {
        max-height: 225px;
    }

    .contactHeader {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}