/* global */

body,
html {
    position: relative;
    min-height: 100vh;
}

h2 {
    font-size: 300%;
    text-align: right;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(14, 8, 55);
    color: white;
    padding: 20px 10px;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    margin-left: 25px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul li a {
    color: whitesmoke;
    margin: 10px;
    text-decoration: none;
}

header a:hover {
    color: gold;
    margin: 10px;

}

/* content */

.tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/68099066760__0D9DABA2-E6E2-4F91-A615-1DE8DF1D740F.jpeg);
    background-size: cover;
    background-position: 10% 40%;
    min-height: 200px;
}

.tagline h3 {
    max-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 35px 10px 10px;
    background-color: rgb(14, 8, 55);
    color: #f9aa00;
    font-size: 120%;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: lightblue; */
}

.aboutMe {
    display: flex;
    justify-content: end;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 25%;
    color: #A1710A;
    margin-top: 25px;
    padding: 0px 25px;

}

.profileImg {
    border-radius: 50%;
    max-height: 150px;
    box-shadow: 10px 10px 10px;
    margin-left: 100px;
}


.aboutMeText {
    width: 75%;
    margin-top: 25px;
    padding: 0px 35px 20px 0;
    /* background-color: beige; */
}


.myWork {
    /* background-color: bisque; */
    width: 25%;
    color: #A1710A;
    padding: 0px 25px;
    text-align: center;
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
    /* background-color: yellow; */
    width: 75%;
    
}

.workItem {
    margin-bottom: 35px;
    border: 5px solid #5a95fe;
    position: relative;
    max-height: 335px;
}

.overlay {
    background-color: white;
    opacity: 20%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay:hover {
    opacity: 0%;
}

.titleRibbon {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    padding-left: 15px;
    background-color: #5a95fe;
    min-width: 200px;
    min-height: 50px;
}

.workItem a {
    color: whitesmoke;
    text-decoration: none;
}

/* .activateMe {
    background-image: url(images/activateMe.png);
    background-size: cover;
    min-height: 300px;
}

.ourSpace {
    background-image: url(images/ourSpace.png);
    background-size: cover;
    min-height: 300px;
}

.whatsForDinner {
    background-image: url(images/w4d.png);
    background-size: cover;
    min-height: 300px;
}

.weather {
    background-image: url(images/weather.png);
    background-size: cover;
    min-height: 300px;
} */

.contactHeader {
    width: 25%;
    color: #A1710A;
    margin: 25px 0;
    padding: 0px 25px;
    text-align: center;
    /* background-color: orange; */

}

.contactDetails {
    display: flex;
    align-items: center;
    width: 75%;
    /* background-color: cadetblue; */
    padding: 15px;
    min-height: 75px;
}

.contactDetails ul li {
    margin: 20px;
    display: inline;
}

/* footer */
footer {
    text-align: center;
    min-width: 100%;
    padding: 20px 10px;
    background-color: lightgray;
}